[Desktop Entry]
Encoding=UTF-8
Name=INTICOIN
Comment=INTICOIN P2P Cryptocurrency
Comment[fr]=INTICOIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=INTICOIN, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/INTICOIN-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/INTICOIN;
Categories=Office;
